
*.vsidx
*.vsidx
*.vsidx
*.xml
*.dll
QuanLyCuaHangDienThoai/.vs/QuanLyCuaHangDienThoai/FileContentIndex/16fa407d-413e-4d81-97e3-957f08ac2614.vsidx
QuanLyCuaHangDienThoai/.vs/QuanLyCuaHangDienThoai/FileContentIndex/5360b8fd-8128-4cd4-b9f6-d107a0bc642e.vsidx
QuanLyCuaHangDienThoai/.vs/QuanLyCuaHangDienThoai/FileContentIndex/a6963b3d-fa3f-49f8-bc1a-487d951853b2.vsidx
QuanLyCuaHangDienThoai/.vs/QuanLyCuaHangDienThoai/FileContentIndex/89afaad6-39f7-4c6f-b0bd-0085466ec9b4.vsidx
QuanLyCuaHangDienThoai/.vs/QuanLyCuaHangDienThoai/FileContentIndex/adb4c0f0-c93d-45a2-9cc1-a30b5978183a.vsidx
QuanLyCuaHangDienThoai/.vs/QuanLyCuaHangDienThoai/FileContentIndex/b2f01bc6-36fe-4b44-913e-64d3d060a74e.vsidx
QuanLyCuaHangDienThoai/.vs/QuanLyCuaHangDienThoai/v17/.suo
QuanLyCuaHangDienThoai/QuanLyCuaHangDienThoai/bin/Debug/QuanLyCuaHangDienThoai.exe
QuanLyCuaHangDienThoai/QuanLyCuaHangDienThoai/bin/Debug/QuanLyCuaHangDienThoai.pdb
QuanLyCuaHangDienThoai/QuanLyCuaHangDienThoai/bin/Debug/SixLabors.Fonts.xml
QuanLyCuaHangDienThoai/QuanLyCuaHangDienThoai/obj/Debug/QuanLyCuaHangDienThoai.csproj.AssemblyReference.cache
QuanLyCuaHangDienThoai/QuanLyCuaHangDienThoai/obj/Debug/QuanLyCuaHangDienThoai.exe
QuanLyCuaHangDienThoai/QuanLyCuaHangDienThoai/obj/Debug/QuanLyCuaHangDienThoai.pdb
QuanLyCuaHangDienThoai/QuanLyCuaHangDienThoai/bin/Debug/QuanLyCuaHangDienThoai.exe
QuanLyCuaHangDienThoai/QuanLyCuaHangDienThoai/bin/Debug/QuanLyCuaHangDienThoai.pdb
QuanLyCuaHangDienThoai/QuanLyCuaHangDienThoai/bin/Debug/SixLabors.Fonts.xml
QuanLyCuaHangDienThoai/QuanLyCuaHangDienThoai/obj/Debug/QuanLyCuaHangDienThoai.csproj.AssemblyReference.cache
QuanLyCuaHangDienThoai/QuanLyCuaHangDienThoai/obj/Debug/QuanLyCuaHangDienThoai.exe
QuanLyCuaHangDienThoai/QuanLyCuaHangDienThoai/obj/Debug/QuanLyCuaHangDienThoai.pdb
*.cache
.vs/
bin/
obj/
